<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card-content>

      <ion-img src="assets/logo.png"></ion-img>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="botao-login">
        <ion-button fill="solid" shape="round" class="botaologin">
          Conheça
        </ion-button>
        <ion-button fill="outline" shape="round" color="dark">
          Iniciar
        </ion-button>
      </div>
    </ion-card-content>

</ion-content>
